/* Error: Undefined variable.
 *    ,
 * 49 |     color: $text-color;
 *    |            ^^^^^^^^^^^
 *    '
 *   sass/components/_common.scss 49:9  @import
 *   sass/styles.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 49 \2502      color: $text-color;\d\a    \2502             ^^^^^^^^^^^\a    \2575 \a   sass/components/_common.scss 49:9  @import\a   sass/styles.scss 7:9               root stylesheet";
}
