//common (general styles)

img {
	max-width: 100%; }

hr {
	border-color: #ddd; }

a, button, input, textarea, img {
	outline: none !important; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	line-height: 1.3em;
//	font-family: 'Conv_AvenirLTStd-Heavy';
	font-weight: 400; }

h1 {
//	font-family: 'Conv_AvenirLTStd-Medium';
	font-size: 31px; }

h2 {
	font-family: 'HelveticaNeue-Bold';
	font-size: 28px; }

h3 {
	font-size: 20px; }

h4 {
	font-size: 18px; }

h5 {
	font-size: 15px; }

h6 {
	font-size: 15px; }

small {
	font-size: 11px;
}

b {
//	font-family: 'Conv_AvenirLTStd-Heavy';
	font-weight: 400;
}

body {
	font-family: 'HelveticaNeueLTStdRoman', Arial, sans-serif;
	color: $text-color;
	font-size: 14px;
}

.btn {
	font-family: 'HelveticaNeue-Bold';
	background-color: #ffffff;
	border-radius: 4px;
	font-size: 13px;
	padding: 5px 8px 6px;
}

.btn-follow {
	border: none;
	color: #ffffff;
	background: #61d961;
	border-radius: 4px;

	&:hover {
		box-shadow: 0 0 7px 0 rgba(0,0,0,0.2) inset, 0 0 0 1px rgba(0,0,0,0.1) inset;
	}
}

.follow-block {
	h2 {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 5px;
	}

	.btn-follow {
		margin-left: 5px;
	}
}